/* إستخدم البنية السابقة ولا تقم بالتعديل عليها
تأكد أن العنصر له نفس الألوان والهوامش الداخلية وعرض العنصر يكون 400px
الشكل الأول في الصورة هو الوضع الطبيعي للعنصر. عندما يزيد النص سينزل للسطر التالي
الشكل الثاني في الصورة المحتوى صغير ولم يصل لنهاية العنصر
الشكل الثالث النصوص الموجودة فيه هي نفس الموجودة في الشكل الأول
المطلوب قطع النص عند نهاية العنصر ولا تجعله ينزل للسطر التالي
الثلاث نقاط يتم وضعها تلقائيا ولا تقم بكتابتها */


div {
    width: 400px;
    background-color: #eee;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
