/* إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
عرض العنصر parent هو 600px والطول هو 300px
قم بتوسيط العنصر parent في الصفحة بطريقة عرضية
قم بعمل نفس العناصر بنفس شكلها وأماكنها */

.parent {
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.parent div {
    width: 30%;
    height: 150px;
    background-color: #607D8B;
    text-align: center;
    font-size: 3em;
    color: white;
}

.two {
    height: 50px !important;
}

.six {
    height: 50px !important;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}
